<template>
  <v-container>
    <v-card class="mx-3 my-4">
      <v-card-title>
        <img class="rounded-image" width="50px" height="50px" :src="profileImage"/>
        <span> Welcome back, {{ fullName }} </span>
      </v-card-title>
      <v-progress-linear v-if="loading" :indeterminate="loading"></v-progress-linear>
      <v-divider/>
      <v-card-text>
        <v-row>
          <v-col>
            <v-text-field
                variant="underlined"
                label="Title"
                v-model="title"
                disabled
            >

            </v-text-field>
          </v-col>
          <v-col>
            <v-text-field
                variant="underlined"
                label="Domain"
                v-model="domain"
                disabled
            >

            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
                variant="underlined"
                label="Private Key"
                v-model="privateKey"
            >

            </v-text-field>
          </v-col>
          <v-col>
            <v-text-field
                variant="underlined"
                label="Address"
                v-model="address"
            >

            </v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-row>
          <v-spacer/>
          <v-btn :loading="loading" color="primary" @click="updateWalletDetails"> Update </v-btn>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import AccountClient from "@/client/AccountClient";

export default {
  name: "AccountSettings",
  data() {
    return {
      loading: false,
      title: null, //"Recruiter",
      domain: null, //"IT/Engineering",
      lastName: null, //"Blidea",
      firstName: null, //"Tudorel-Alexandru",
      profileImage: null, //"https://lh3.googleusercontent.com/a/ACg8ocLIqdtcd9JwKGAS_NRueuqOpAShKLvTMRGufwvcSTTryyHoeKX5=s576-c-no",
      privateKey: null, //"98432h2ndj2xd2x0d2xVSAd90e32jxXDAX",
      address: null, //"124.251.023.003",
      linkedInUri: "www.linkedin.com/in/tudorel-alexandru-blidea"
    }
  },
  computed: {
    fullName() {
      return this.lastName + " " + this.firstName;
    },
  },
  methods: {
    hide(text) {
      if (!text || text.length < 2) return text;
      let hidden = "";
      for (let i = 2; i < text.length; i++) {
        hidden += "*";
      }
      return text[0] + hidden + text[text.length - 2];
    },
    loadProfile() {
      this.loading = true;
      AccountClient.getProfileByLinkedInUri(this.linkedInUri)
          .then(data => {
            this.title = data["title"]
            this.domain = data["domain"]
            this.lastName = data["lastName"]
            this.firstName = data["firstName"]
            this.profileImage = data["profileImage"]
            this.privateKey = data["walletPrivateKey"]
            this.address = data["walletAddress"]
          })
          .finally(() => {
            this.loading = false;
          })
    },
    updateWalletDetails() {
      this.loading = true;
      AccountClient.updateWalletDetails(this.linkedInUri, this.privateKey, this.address)
          .finally(() => {
            this.loading = false;
          })
    }
  },
  mounted() {
    this.loadProfile();
  }
}
</script>

<style scoped>

</style>