<template>
  <v-container height="100%">
    <v-row style="height: 5%"></v-row>
    <v-row>
      <v-col>
        <v-row class="mx-1">
          <v-textarea
              label="Job Description"
              v-model="jobDescription"
              :loading="loadProfiles"
          >
          </v-textarea>
        </v-row>
        <v-row>
          <v-spacer/>
          <v-btn class="mx-1" @click="clear" :disabled="loadProfiles"> Clear</v-btn>
          <v-btn class="mx-1" color="primary" @click="searchProfiles" :loading="loadProfiles"> Search
            <v-icon>mdi-search-web</v-icon>
          </v-btn>
        </v-row>
      </v-col>
    </v-row>
    <v-row v-if="loadProfiles">
      <v-progress-linear indeterminate color="primary"></v-progress-linear>
    </v-row>
    <v-row v-for="(profile, key) in profiles" :key>
      <v-expand-transition>
        <profile-display :profile="profile"/>
      </v-expand-transition>
    </v-row>
  </v-container>
</template>

<script>
import {defineComponent} from 'vue';
import SearchClient from "@/client/SearchClient";
import ProfileDisplay from "@/components/ProfileDisplay.vue";

// Components

export default defineComponent({
  name: 'SearchByJobDescription',

  components: {ProfileDisplay},
  data() {
    return {
      loadProfiles: false,
      profiles: [],
      jobDescription: ""
    }
  },
  computed: {},
  methods: {
    clear() {
      this.jobDescription = ""
      this.profiles = []
    },
    searchProfiles() {
      this.profiles = []
      this.loadProfiles = true;
      SearchClient.searchByJobDescription(this.jobDescription)
          .then(data => {
            for (let i = 0; i < data.length; i++) {
              setTimeout(() => {
                this.lazyAddProfile(data[i])
              }, 200 * i);
            }
          })
          .finally(() => {
            this.loadProfiles = false;
          })
    },
    lazyAddProfile(profile) {
      this.profiles = [...this.profiles, profile];
    }
  },
  mounted() {

  }
});
</script>
