<template>
  <v-card class="my-2 mx-1" width="100%">
    <v-card-title>
      <v-row>
        <v-col cols="1">
          <img class="rounded-image" width="50px" height="50px" :src="profile['profileImageUrl']"/>
        </v-col>
        <v-col>
          <a :href="'https://' + profile['linkedInProfileUrl']" target="_blank"> {{ profile['fullName'] }} </a>
        </v-col>
      </v-row>
    </v-card-title>
    <v-divider/>
    <v-card-text class="ma-0 pa-0 my-2 mx-3">
      <v-container class="ma-0 pa-0">
        <v-col>
          <p>
            <span class="font-weight-bold">First Name: </span>
            <span>{{ profile['firstName'] }}</span>
          </p>
          <p>
            <span class="font-weight-bold">Headline: </span>
            <span>{{ profile['headline'] }}</span>
          </p>
          <p>
            <span class="font-weight-bold">First Name: </span>
            <span>{{ profile['firstName'] }}</span>
          </p>
        </v-col>
        <v-row class="mx-3">
          <p>
            <span class="font-weight-bold">Ai Generated Description: </span>
            <span>{{ text }}</span>
          </p>
        </v-row>
        <v-row>
          <v-spacer/>
          <v-col>
            <v-btn class="pa-1 ml-10" @click="showMore = !showMore" size="md">
              {{ showMore ? "show less..." : "show more..." }}
            </v-btn>
          </v-col>
          <v-spacer/>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "ProfileDisplay",
  props: {
    profile: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      showMore: false
    }
  },
  computed: {
    text() {
      if (this.showMore) {
        return this.profile['description']
      }
      return this.profile['description'].substring(0, 70) + "..."
    }
  }
}
</script>

<style scoped>
.rounded-image {
  border-radius: 50%;
}
</style>