<template>
    <v-card>
      <v-layout>
        <v-navigation-drawer
            v-model="drawer"
            :rail="rail"
            permanent
            @click="rail = false"
        >
          <v-list-item
              prepend-avatar="https://lh3.googleusercontent.com/a/ACg8ocLIqdtcd9JwKGAS_NRueuqOpAShKLvTMRGufwvcSTTryyHoeKX5=s576-c-no"
              title="Blidea Tudorel-Alexandru"
              nav
          >
            <template v-slot:append>
              <v-btn
                  icon="mdi-chevron-left"
                  variant="text"
                  @click.stop="rail = !rail"
              ></v-btn>
            </template>
          </v-list-item>

          <v-divider></v-divider>

          <v-list density="compact" nav>
            <v-list-item color="primary" prepend-icon="mdi-search-web" title="Search By JD" value="jdSearch" @click="$router.push('/jobDescriptionSearch')"></v-list-item>
            <v-list-item color="primary" prepend-icon="mdi-account-group" title="Search Similar" value="similar" @click="$router.push('/similarProfiles')"></v-list-item>
            <v-list-item color="primary" prepend-icon="mdi-cog" title="Settings" value="settings" @click="$router.push('/settings')"></v-list-item>
          </v-list>
        </v-navigation-drawer>
        <v-main>
          <router-view/>
        </v-main>
      </v-layout>
      <div style="height: 100%; background-color: black"></div>
    </v-card>
</template>

<script>

export default {
  name: 'App',

  data () {
    return {
      drawer: true,
      rail: true,
    }
  },
}
</script>
